
body {
    background-image: url(img/animation-of-graph-trending-upwards-white-arrow-pointing-up-on-graph-with-blue-light-effect-on-black-background-free-video.jpg);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    margin-top: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.titulo{
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 20px;
    height:200px;
    width: 300px;
    background-color: rgba(255, 254, 254, 0);
    backdrop-filter: blur(5px);
    color: white;
}

.caixa-principal{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 50vh;
    width: 20vw;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
    padding: 10px;
    color: white;
}   

.valor-atual{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}
.maior-valor{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}
.menor-valor{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

